<div style="margin-bottom: 0px;border: 40px solid rgba(0, 0, 0, 0.9);"></div>

<div class="principal">
    <h1>Lista de Consultas</h1>
    <form action="/get-agendas" method="POST" style="margin-bottom: 0px;">
        <div class="mb-3">
            <label for="usercpf" class="form-label">Selecione o nome do médico para ver as consultas agendadas</label>
            <select class="form-select" name="medico">
                <option value="1" selected>Dr. Sophia Lara Elisa Assunção</option>
                <option value="2">Dr. Renato Henrique Manoel Araújo</option>
                <option value="3">Dr. Matheus Ruan Gael da Paz</option>
                <option value="4">Dr. Samuel Roberto Castro</option>
                <option value="5">Dr. Lucca Julio Anthony das Neves</option>
                <option value="6">Dr. Luna Carla Ferreira</option>
                <option value="7">Dr. Beatriz Eliane Tatiane Martins</option>
                <option value="8">Dr. Guilherme Isaac Ramos</option>
                <option value="9">Dr. Augusto Hugo Sales</option>
                <option value="10">Dr. Thiago Lucca Samuel Galvão</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    {{#if agendas}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Paciente</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Data</th>
                <th scope="col">Horário</th>
            </tr>
        </thead>
        <tbody>
            {{#each agendas}}
            <tr>
                <td>{{dataValues.nome}}</td>
                <td>{{dataValues.telefone}}</td>
                <td>{{dataValues.email}}</td>
                <td>{{dataValues.data}}</td>
                <td>{{dataValues.horario}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>

<style>
    .principal {
        max-width: 1400px;
        min-height: 515px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
    }

    .principal h1 {
        margin-bottom: 25px;
    }

    .horario {
        display: inline;
    }
</style>